<div class="form-container">
    <h4>ADD BRAND</h4>
    <form class="form" action="/brands" method="post">
        <label for="brand">Brand</label>
        <input class="form-input" id="brand" type="text" name="brand">

        <label for="description">Description</label>
        <textarea class="form-text-area" id="description" name="description"></textarea>

        <label for="number_of_models">Number of models</label>
        <input class="form-input" id="number_of_models" type="text" name="number_of_models">

        <input type="submit">
    </form>
</div>
