<div class="form-container">
    <h4>ADD CAR</h4>
    <form class="form" action="/cars" method="post">
        <label for="model">Model</label>
        <input class="form-input" id="model" type="text" name="model">

        <label for="brand">Brand</label>
        <input class="form-input" id="brand" type="text" name="brand">

        <label for="miles">Miles</label>
        <input class="form-input" id="miles" type="text" name="miles">

        <label for="description">Description</label>
        <input class="form-input" id="description" type="text" name="description">

        <label for="gearbox">Gearbox</label>
        <input class="form-input" id="gearbox" type="text" name="gearbox">

        <label for="doors">Doors</label>
        <input class="form-input" id="doors" type="text" name="doors">

        <label for="fuel">Fuel</label>
        <input class="form-input" id="fuel" type="text" name="fuel">

        <label for="seats">Seats</label>
        <input class="form-input" id="seats" type="text" name="seats">

        <input type="submit">
    </form>
</div>
