<div class="header-container">
    <div class="logo-container">
        <a class="fastify-title" href="/"><h1>FASTIFY.IO PROJECT</h1></a>
        <a href="/"><img class="fastify-logo" src="/img/fastify-logo.png" alt="Fastify.io Logo png"></a>
    </div>
    <div class="menu-container">
        <a class="menu-items" href="/brands">BRANDS</a>
        <a class="menu-items" href="/cars">CARS</a>
        <a class="menu-items" href="/brands/form-brand">ADD NEW BRAND</a>
        <a class="menu-items" href="/cars/form-car">ADD NEW CAR</a>
        <a class="menu-items" href="/brands/find">FIND BY BRAND</a>
        <a class="menu-items" href="/cars/find">FIND BY CAR</a>
    </div>
</div>
