.brands-items-container {}

.brands-item {
  margin-bottom: 10px;
}

.brands-item-title {
  font-weight: bold;
}

.buttons-container {
  display: flex;
  margin-top: 20px;
}

.button {
  margin-right: 10px;
}
